* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: "Asap", sans-serif;
	font-family: "Shadows Into Light", cursive;
	background: #ffefba;
	background: -webkit-linear-gradient(to right, #ffffff, #ffefba);
	background: linear-gradient(to right, #ffffff, #ffefba);
}

.app {
	display: flex;
	flex-direction: column;
	width: 800px;
	background-color: rgb(198, 213, 191);
	border: none;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.app-header {
	margin: 20px 0;
	text-align: center;
}

.app-header h1 {
	font-size: 50px;
}

.app-header p {
	font-size: 25px;
}

.app-body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 45px 0;
	height: 400px;
	background: #11998e;
	background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
	background: linear-gradient(to bottom, #38ef7d, #11998e);
	border-radius: 0 0 5px 5px;
}

.coin-to-shake {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	padding: 50px;
	width: 220px;
	height: 220px;
	background: rgb(255, 255, 0);
	background: linear-gradient(
		100deg,
		rgb(255, 203, 32) 43%,
		rgba(255, 215, 0, 1) 56%
	);
	border: 10px solid #ffff00;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.5s;
}

.coin-to-shake:hover {
	border-color: #a9a900;
	transform: scale(0.95);
}

.coin-heads,
.coin-tails {
	display: none;
}

.coin-text {
	font-size: 30px;
	font-family: "Asap", sans-serif;
	text-align: center;
	text-shadow: 2px 2px 2px rgb(109, 109, 109);
	color: rgb(253, 221, 36);
	text-transform: uppercase;
}

.heads-text {
	font-size: 40px;
	font-family: "Asap", sans-serif;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px rgb(109, 109, 109);
	color: rgb(253, 221, 36);
}

.reset {
	position: absolute;
	bottom: 20px;
	padding: 10px 20px;
	font-size: 17px;
	font-family: "Asap", sans-serif;
	color: rgb(20, 20, 20);
	letter-spacing: 1px;
	border: 1px solid black;
	border-radius: 5px;
	background: none;
	background-color: #2da900;
	cursor: pointer;
	transition: background-color 0.3s;
}

.reset:hover {
	background-color: #38ef7d;
}

.scores {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	right: 0;
	padding: 10px;
	padding-right: 50px;
	font-size: 25px;
}

.scores p {
	padding: 10px;
}

.fading-coin {
	animation: fadingCoin 1.5s linear forwards;
}

.show-coin {
	animation: rotatingCoin 1.5s linear;
}

@keyframes fadingCoin {
	from {
		opacity: 1;
		transform: rotate3d(0, 0, 0, 0deg);
	}

	to {
		opacity: 0;
		transform: rotate3d(1, 1, 1, 360deg);
	}
}

@keyframes rotatingCoin {
	from {
		opacity: 0;
		transform: rotate3d(1, 1, 1, 360deg);
	}

	to {
		opacity: 1;
		transform: rotate3d(1, 0, 1, 0deg);
	}
}
